#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
    aliases {
        servo1 = &pwm_led_0;
    };

	pwm_led_0: pwm_led_0 {
		compatible = "pwm-servo";
		pwms = <&ledc0 0 PWM_HZ(100) PWM_POLARITY_NORMAL>;
		min-pulse = <PWM_USEC(1000)>;
    	max-pulse = <PWM_USEC(2000)>;
	};
	
};

&pinctrl {
	ledc0_default: ledc0_default {
		group1 {
			pinmux = <LEDC_CH0_GPIO12>;
			output-enable;
		};
	};

};

&ledc0 {
	pinctrl-0 = <&ledc0_default>;
	pinctrl-names = "default";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	channel0@0 {
		reg = <0x0>;
		timer = <0>;
	};
};

&timer0 {
	status = "okay";
};

&wifi {
	status = "okay";
};
